doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='Design.css')
  title ניסוי שדה בלמידה דיגיטלית
body
    h1 Welcome to Pug page platform #{session.email}
    p Sessions
    a(href='/session1Complete') Session 1
    br
    a(href='/session2Complete') Session 2
    br
    a(href='/session3Complete') Session 3