doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='Design.css')
  title ניסוי שדה בלמידה דיגיטלית
h1 PUG ברוכים הבאים לאתר ללמידת
h4
  | כניסה לוידאוווווווווווווות
  br
form(name='signInForm' method='post' action='/enterUser' onsubmit='')
  h2 Sign In
  label(for='UserEmail') Email
  input#UserEmail(type='email' name='UserEmail' placeholder='Your email..' required='')
  br
  label(for='UserEntryNum') Entry Number
  input#UserEntryNum(type='number' name='UserEntryNum' placeholder='Your entry number..' required='' min = 1, max = 9)
  br
  input#EnterButton(name='EnterButton' type='submit' value='Enter') 
  br
