doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='Design.css')
  title ניסוי שדה בלמידה דיגיטלית
h1 Questions 8
form
  div
    p
      b 1.How do we set a new variable in Pug?
    input(type='radio' name='question1' value='option1')
    | variableName = value
    br
    input(type='radio' name='question1' value='option2')
    | let variableName = value
    br
    input(type='radio' name='question1' value='option3')
    |  const variableName = value
    br
    input(type='radio' name='question1' value='option4')
    | var variableName = value
    br
  div
    p
      b 2.What is the purpose of using interpolation in Pug?
    input(type='radio' name='question2' value='option1')
    | To create new HTML elements
    br
    input(type='radio' name='question2' value='option2')
    | To output the value of a variable in the browser
    br
    input(type='radio' name='question2' value='option3')
    | To declare a new variable
    br
    input(type='radio' name='question2' value='option4')
    | To set the value of a variable
    br
  div
    p
      b 3.What is the difference between buffered and unbuffered code in Pug?
    input(type='radio' name='question3' value='option1')
    | Buffered code evaluates a variable and sends it to output, while unbuffered code assigns a value to a variable
    br
    input(type='radio' name='question3' value='option2')
    | Buffered code assigns a value to a variable, while unbuffered code evaluates a variable and sends it to output
    br
    input(type='radio' name='question3' value='option3')
    | Buffered code and unbuffered code are the same thing in Pug
    br
    input(type='radio' name='question3' value='option4')
    | Buffered code and unbuffered code are not used in Pug
    br
  div
    p
      b 4.How do we concatenate two variables in Pug?
    input(type='radio' name='question4' value='option1')
    | variable1 + variable2
    br
    input(type='radio' name='question4' value='option2')
    | variable1.concat(variable2)
    br
    input(type='radio' name='question4' value='option3')
    | ${variable1} ${variable2}
    br
    input(type='radio' name='question4' value='option4')
    | variable1 . variable2
    br
  //-div
    p
      b 5.What will be the result of using the following code in Pug? 
        br let fullName = ${firstName} 
        br  ${lastName} p#full-name= fullName

    input(type='radio' name='question5' value='option1')
    | It will set a new variable named fullName
    br
    input(type='radio' name='question5' value='option2')
    | It will output the value of the fullName variable in an HTML paragraph with the ID 'full-name'
    br
    input(type='radio' name='question5' value='option3')
    | It will output the value of the firstName variable in an HTML paragraph with the ID 'full-name'
    br
    input(type='radio' name='question5' value='option4')
    | It will output the value of the lastName variable in an HTML paragraph with the ID 'full-name'
    br
  button.submitPractice(type='submit') Submit

br
a(href='/VideoPage9Divided') Next
