doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='Design.css')
  title ניסוי שדה בלמידה דיגיטלית
h1 Questions Session 3
form(action='/SubmitTestComplete3' method='POST')
  div
    p
      b 
        |1.What is the purpose of the "extends" keyword in Pug?
    input(type='radio' name='question1' value='option1' checked)
    | To create reusable HTML5 boilerplate code for a website.
    br
    input(type='radio' name='question1' value='option2')
    | To include one file in another in Pug.
    br
    input(type='radio' name='question1' value='option3')
    |  To override the default content of a block in a Pug file.
    br
    input(type='radio' name='question1' value='option4')
    | To create a new folder in a Pug file.
    br
  div
    p
      b 
        |2.What is the purpose of the "includes" keyword in Pug?
    input(type='radio' name='question2' value='option1' checked)
    | To create reusable HTML5 boilerplate code for a website.
    br
    input(type='radio' name='question2' value='option2')
    | To include one file in another in Pug.
    br
    input(type='radio' name='question2' value='option3')
    | To override the default content of a block in a Pug file.
    br
    input(type='radio' name='question2' value='option4')
    | To create a new folder in a Pug file.
    br
  div
    p
      b 
        |3.What is the purpose of using interpolation in Pug?
    input(type='radio' name='question3' value='option1' checked)
    | To create new HTML elements
    br
    input(type='radio' name='question3' value='option2')
    | To output the value of a variable in the browser
    br
    input(type='radio' name='question3' value='option3')
    | To declare a new variable
    br
    input(type='radio' name='question3' value='option4')
    | To set the value of a variable
    br
  div
    p
      b 
        |4.What is the correct syntax for iterating through an array using Pug?
    input(type='radio' name='question4' value='option1' checked)
    | for each in names
    br
    input(type='radio' name='question4' value='option2')
    | each in names
    br
    input(type='radio' name='question4' value='option3')
    |  each name in names
    br
    input(type='radio' name='question4' value='option4')
    | for name in names
    br
  div
    p
      b 
        |5.How can you format an array on separate lines in Pug?
    input(type='radio' name='question5' value='option1' checked)
    | By putting the opening dash (-) on a line of its own
    br
    input(type='radio' name='question5' value='option2')
    | By indenting the variable assignment
    br
    input(type='radio' name='question5' value='option3')
    | By unindenting any part of the variable assignment too much
    br
    input(type='radio' name='question5' value='option4')
    | By using a semicolon (;) at the end of each line
    br
  div
    p
      b 
        |6.What is the purpose of the "layout.pug" file in Pug?
    input(type='radio' name='question6' value='option1' checked)
    | To create a new folder in a Pug file.
    br
    input(type='radio' name='question6' value='option2')
    | To override the default content of a block in a Pug file.
    br
    input(type='radio' name='question6' value='option3')
    | To include one file in another in Pug.
    br
    input(type='radio' name='question6' value='option4')
    | To hold the HTML5 boilerplate code for a website.
    br
  div
    p
      b 
        |7.What is the purpose of the "templates" folder in Pug?
    input(type='radio' name='question7' value='option1' checked)
    | To create a new folder in a Pug file.
    br
    input(type='radio' name='question7' value='option2')
    | To hold the HTML5 boilerplate code for a website.
    br
    input(type='radio' name='question7' value='option3')
    | To override the default content of a block in a Pug file.
    br
    input(type='radio' name='question7' value='option4')
    | To include one file in another in Pug.
    br
  div
    p
      b 
        |8.What is the difference between buffered and unbuffered code in Pug?
    input(type='radio' name='question8' value='option1' checked)
    | Buffered code evaluates a variable and sends it to output, while unbuffered code assigns a value to a variable
    br
    input(type='radio' name='question8' value='option2')
    | Buffered code assigns a value to a variable, while unbuffered code evaluates a variable and sends it to output
    br
    input(type='radio' name='question8' value='option3')
    | Buffered code and unbuffered code are the same thing in Pug
    br
    input(type='radio' name='question8' value='option4')
    | Buffered code and unbuffered code are not used in Pug
    br
  div
    p
      b 
        |9.How do we concatenate two variables in Pug?
    input(type='radio' name='question9' value='option1' checked)
    | variable1 + variable2
    br
    input(type='radio' name='question9' value='option2')
    | variable1.concat(variable2)
    br
    input(type='radio' name='question9' value='option3')
    | ${variable1} ${variable2}
    br
    input(type='radio' name='question9' value='option4')
    | variable1 . variable2
    br
  div
    p
      b 
        |10.How can you set a variable to contain a JavaScript object in Pug?
    input(type='radio' name='question10' value='option1' checked)
    | By using parentheses to group the values together
    br
    input(type='radio' name='question10' value='option2')
    | By using square brackets to group the values together
    br
    input(type='radio' name='question10' value='option3')
    | By using curly braces to group the values together
    br
    input(type='radio' name='question10' value='option4')
    | By using angle brackets to group the values together
    br
  div
    p
      b 
        |11.What is the correct syntax for using conditions in Pug?
    input(type='radio' name='question11' value='option1' checked)
    | if (condition)
    br
    input(type='radio' name='question11' value='option2')
    | if condition
    br
    input(type='radio' name='question11' value='option3')
    | if [condition]
    br
    input(type='radio' name='question11' value='option4')
    | if {condition}
    br
  div
    p
      b 
        |12.What is the purpose of the "block" keyword in Pug?
    input(type='radio' name='question12' value='option1' checked)
    | To create a new folder in a Pug file.
    br
    input(type='radio' name='question12' value='option2')
    | To hold the HTML5 boilerplate code for a website.
    br
    input(type='radio' name='question12' value='option3')
    | To override the default content of a block in a Pug file.
    br
    input(type='radio' name='question12' value='option4')
    | To create a placeholder for content in a Pug file.
    br
  //-div
    p
      b 
        |13.What will be the result of using the following code in Pug? 
        br let fullName = ${firstName} 
        br  ${lastName} p#full-name= fullName

    input(type='radio' name='question13' value='option1')
    | It will set a new variable named fullName
    br
    input(type='radio' name='question13' value='option2')
    | It will output the value of the fullName variable in an HTML paragraph with the ID 'full-name'
    br
    input(type='radio' name='question13' value='option3')
    | It will output the value of the firstName variable in an HTML paragraph with the ID 'full-name'
    br
    input(type='radio' name='question13' value='option4')
    | It will output the value of the lastName variable in an HTML paragraph with the ID 'full-name'
    br
  div
    p
      b 
        |14.What will happen if you delete everything inside the square brackets of an array used in a Pug 'each' loop?
    input(type='radio' name='question14' value='option1' checked)
    | The 'oh-no' div will no longer render
    br
    input(type='radio' name='question14' value='option2')
    | The 'friends' part of the HTML will no longer render
    br
    input(type='radio' name='question14' value='option3')
    | The HTML will still render but with no values inside the 'friends' div
    br
    input(type='radio' name='question14' value='option4')
    | The HTML will not render at all
    br
  div
    p
      b 
        |15.How do we set a new variable in Pug?
    input(type='radio' name='question15' value='option1'  checked)
    | variableName = value
    br
    input(type='radio' name='question15' value='option2')
    | let variableName = value
    br
    input(type='radio' name='question15' value='option3')
    |  const variableName = value
    br
    input(type='radio' name='question15' value='option4')
    | var variableName = value
    br
  button.submitPractice(type='submit') Submit

//- a(href='./SignUpPage')
//-    button.enterFromVP Next
