doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='Design.css')
  title ניסוי שדה בלמידה דיגיטלית
h1 Questions 6
form(action='/dividedsubmit6' method='POST')
  div
    p
      b 1.What is the purpose of using included files in Pug?
    input(type='radio' name='question1' value='option1' checked)
    | To reduce repetition in code
    br
    input(type='radio' name='question1' value='option2')
    | To add more complexity to code
    br
    input(type='radio' name='question1' value='option3')
    | To make the code more difficult to maintain
    br
    input(type='radio' name='question1' value='option4')
    | To increase the number of lines of code
    br
  div
    p
      b 2.Where should the included file for the footer be located?
    input(type='radio' name='question2' value='option1' checked)
    | In the 'index.pug' file
    br
    input(type='radio' name='question2' value='option2')
    | In the 'lesson-06' folder
    br
    input(type='radio' name='question2' value='option3')
    | In the 'includes' directory
    br
    input(type='radio' name='question2' value='option4')
    | In a separate 'footer' folder
    br
  div
    p
      b 3.How can you include an external file in Pug?
    input(type='radio' name='question3' value='option1' checked)
    | Use the 'include' keyword followed by the path to the file
    br
    input(type='radio' name='question3' value='option2')
    | Use the 'add' keyword followed by the path to the file
    br
    input(type='radio' name='question3' value='option3')
    | Use the 'insert' keyword followed by the path to the file
    br
    input(type='radio' name='question3' value='option4')
    | Use the 'import' keyword followed by the path to the file
    br
  div
    p
      b 4.What is the benefit of using included files in Pug?
    input(type='radio' name='question4' value='option1' checked)
    | They reduce the size of the HTML file
    br
    input(type='radio' name='question4' value='option2')
    | They make the code more difficult to read
    br
    input(type='radio' name='question4' value='option3')
    | They allow changes to be made to repeated code in one place
    br
    input(type='radio' name='question4' value='option4')
    | They make the code less efficient
    br
  div
    p
      b 5.What is the difference between 'include' and 'extends' in Pug?
    input(type='radio' name='question5' value='option1' checked)
    | There is no difference between 'include' and 'extends'
    br
    input(type='radio' name='question5' value='option2')
    | 'Include' adds the contents of an external file to the current file, while 'extends' allows the current file to inherit from another file
    br
    input(type='radio' name='question5' value='option3')
    | 'Include' and 'extends' are used for different programming languages
    br
    input(type='radio' name='question5' value='option4')
    | 'Include' is used for client-side programming, while 'extends' is used for server-side programming
    br
  button.submitPractice(type='submit') Submit

br
//- a(href='/DividedSessions') Next
