doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='Design.css')
  title ניסוי שדה בלמידה דיגיטלית
h1 Questions 1
form
  div
    p
      b 1. What is Pug?
    input(type='radio' name='question1' value='option1')
    | A programming language
    br
    input(type='radio' name='question1' value='option2')
    | A markup language
    br
    input(type='radio' name='question1' value='option3')
    | A scripting language
    br
    input(type='radio' name='question1' value='option4')
    | A style sheet language
    br
  div
    p
      b 2. How can you compile your Pug file to normal HTML?
    input(type='radio' name='question2' value='option1')
    | By typing &quot;pug index.pug&quot; in the terminal
    br
    input(type='radio' name='question2' value='option2')
    | By typing &quot;html index.pug&quot; in the terminal
    br
    input(type='radio' name='question2' value='option3')
    | By typing &quot;compile index.pug&quot; in the terminal
    br
    input(type='radio' name='question2' value='option4')
    | By typing &quot;convert index.pug&quot; in the terminal
    br
  div
    p
        b 3. What is the purpose of the &quot;-P&quot; flag when compiling a Pug file to HTML?
    input(type='radio' name='question3' value='option1')
    | It tells the compiler to print out a list of errors
    br
    input(type='radio' name='question3' value='option2')
    | It tells the compiler to output the HTML file in a human-readable, indented format
    br
    input(type='radio' name='question3' value='option3')
    | It tells the compiler to minify the HTML file
    br
    input(type='radio' name='question3' value='option4')
    | It tells the compiler to remove all comments from the HTML file
    br
  div
    p
        b 4. What is the consequence of getting the indentation wrong in a Pug file?
    input(type='radio' name='question4' value='option1')
    | The compiler will ignore the incorrect indentation and compile the file correctly
    br
    input(type='radio' name='question4' value='option2')
    | The compiler will automatically fix the indentation and compile the file correctly
    br
    input(type='radio' name='question4' value='option3')
    | The compiler will throw an error and refuse to compile the file
    br
    input(type='radio' name='question4' value='option4')
    | The compiler will compile the file with incorrect indentation, but the resulting HTML will be correct
    br
  div
    p
        b 5. What is the purpose of the &quot;-w&quot; flag when using the &quot;pug&quot; command?
    input(type='radio' name='question5' value='option1')
    | It tells the compiler to write the output to a specific file
    br
    input(type='radio' name='question5' value='option2')
    | It tells the compiler to watch for changes to the Pug file and automatically recompile it when changes are made
    br
    input(type='radio' name='question5' value='option3')
    | It tells the compiler to stop watching for changes to the Pug file
    br
    input(type='radio' name='question5' value='option4')
    | It tells the compiler to print out a list of warnings
    br
  button.submitPractice(type='submit') Submit

br
a(href='/VideoPage2Divided') Next
