doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='Design.css')
  title ניסוי שדה בלמידה דיגיטלית
h1 Questions 2
form
  div
    p
      b 1. How is multi-line content inside a tag achieved in Pug?
    input(type='radio' name='question1' value='option1')
    | By putting a dot straight after the tag
    br
    input(type='radio' name='question1' value='option2')
    | By preface each of the lines of content with a pipe symbol
    br
    input(type='radio' name='question1' value='option3')
    | By using the # symbol
    br
    input(type='radio' name='question1' value='option4')
    | By using the . symbol
    br
  div
    p
      b 2. What happens when a line break is added after a tag in Pug?
    input(type='radio' name='question2' value='option1')
    | The content on the next line is ignored
    br
    input(type='radio' name='question2' value='option2')
    | Pug treats the first word of the next line as an HTML tag
    br
    input(type='radio' name='question2' value='option3')
    | The tag is closed prematurely
    br
    input(type='radio' name='question2' value='option4')
    | The tag becomes invalid
    br
  div
    p
      b 3. How are classes added to tags in Pug?
    input(type='radio' name='question3' value='option1')
    | By using the . symbol
    br
    input(type='radio' name='question3' value='option2')
    | By using the # symbol
    br
    input(type='radio' name='question3' value='option3')
    | By using the round parentheses
    br
    input(type='radio' name='question3' value='option4')
    | By using the vertical bar
    br
  div
    p
      b 4. How are data attributes added to tags in Pug?
    input(type='radio' name='question4' value='option1')
    | By using the round parentheses
    br
    input(type='radio' name='question4' value='option2')
    | By using the . symbol
    br
    input(type='radio' name='question4' value='option3')
    | By using the # symbol
    br
    input(type='radio' name='question4' value='option4')
    | By using the vertical bar
    br
  div
    p
      b 5. How can Pug automatically create a div with a class name or ID name?
    input(type='radio' name='question5' value='option1')
    | By putting .class-name or #id-name
    br
    input(type='radio' name='question5' value='option2')
    | By using the vertical bar
    br
    input(type='radio' name='question5' value='option3')
    | By using the round parentheses
    br
    input(type='radio' name='question5' value='option4')
    | By putting a dot straight after the tag
    br
  button.submitPractice(type='submit') Submit

br
a(href='/VideoPage3Divided') Next
