doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='Design.css')
  title ניסוי שדה בלמידה דיגיטלית
h1 Questions 7
form(action='/dividedsubmit7' method='POST')
  div
    p
      b 1.What is the purpose of the "extends" keyword in Pug?
    input(type='radio' name='question1' value='option1' checked)
    | To create reusable HTML5 boilerplate code for a website.
    br
    input(type='radio' name='question1' value='option2')
    | To include one file in another in Pug.
    br
    input(type='radio' name='question1' value='option3')
    |  To override the default content of a block in a Pug file.
    br
    input(type='radio' name='question1' value='option4')
    | To create a new folder in a Pug file.
    br
  div
    p
      b 2.What is the purpose of the "includes" keyword in Pug?
    input(type='radio' name='question2' value='option1' checked)
    | To create reusable HTML5 boilerplate code for a website.
    br
    input(type='radio' name='question2' value='option2')
    | To include one file in another in Pug.
    br
    input(type='radio' name='question2' value='option3')
    | To override the default content of a block in a Pug file.
    br
    input(type='radio' name='question2' value='option4')
    | To create a new folder in a Pug file.
    br
  div
    p
      b 3.What is the purpose of the "layout.pug" file in Pug?
    input(type='radio' name='question3' value='option1' checked)
    | To create a new folder in a Pug file.
    br
    input(type='radio' name='question3' value='option2')
    | To override the default content of a block in a Pug file.
    br
    input(type='radio' name='question3' value='option3')
    | To include one file in another in Pug.
    br
    input(type='radio' name='question3' value='option4')
    | To hold the HTML5 boilerplate code for a website.
    br
  div
    p
      b 4.What is the purpose of the "templates" folder in Pug?
    input(type='radio' name='question4' value='option1' checked)
    | To create a new folder in a Pug file.
    br
    input(type='radio' name='question4' value='option2')
    | To hold the HTML5 boilerplate code for a website.
    br
    input(type='radio' name='question4' value='option3')
    | To override the default content of a block in a Pug file.
    br
    input(type='radio' name='question4' value='option4')
    | To include one file in another in Pug.
    br
  div
    p
      b 5.What is the purpose of the "block" keyword in Pug?
    input(type='radio' name='question5' value='option1' checked)
    | To create a new folder in a Pug file.
    br
    input(type='radio' name='question5' value='option2')
    | To hold the HTML5 boilerplate code for a website.
    br
    input(type='radio' name='question5' value='option3')
    | To override the default content of a block in a Pug file.
    br
    input(type='radio' name='question5' value='option4')
    | To create a placeholder for content in a Pug file.
    br
  button.submitPractice(type='submit') Submit

br
//- a(href='/VideoPage8Divided') Next
