<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/Design.css">
    <title>ניסוי שדה בלמידה דיגיטלית</title>
</head>
<h1>שאלות לתרגול</h1>
<body>
    <form>
        <div>
          <p>What is the capital of France?</p>
          <input type="radio" name="question1" value="option1">Paris
          <br>
          <input type="radio" name="question1" value="option2">Marseille
          <br>
        </div>
        <div>
          <p>What is the capital of Germany?</p>
          <input type="radio" name="question2" value="option1">Berlin
          <br>
          <input type="radio" name="question2" value="option2">Munich
          <br>
        </div>
        <div>
            <br>
            <label for="openQuestion">What is your favorite color?</label>
            <br>
            <br>
            <textarea id="openQuestion" name="openQuestion" rows="5" cols="60"></textarea>
            <br>
          </div>
        <br>
          
        <button type="submit" class="submitPractice">Submit</button>
      </form>
      
      
</body>
</html>