doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='Design.css')
  title ניסוי שדה בלמידה דיגיטלית
h1 Questions 5
form(action='/dividedsubmit5' method='POST')
  div
    p
      b 1. What is Emmet?
    input(type='radio' name='question1' value='option1' checked)
    | A programming language
    br
    input(type='radio' name='question1' value='option2')
    | A text editor
    br
    input(type='radio' name='question1' value='option3')
    | An abbreviation system for HTML and CSS
    br
    input(type='radio' name='question1' value='option4')
    | A version control system
    br
  div
    p
      b 2. How do you create a new HTML document using Emmet?
    input(type='radio' name='question2' value='option1' checked)
    | Type 'html' and press ENTER
    br
    input(type='radio' name='question2' value='option2')
    | Type '!' and press ENTER
    br
    input(type='radio' name='question2' value='option3')
    | Type 'head' and press ENTER
    br
    input(type='radio' name='question2' value='option4')
    | Type 'body' and press ENTER
    br
  div
    p
      b 3. How do you create nested elements in Emmet?
    input(type='radio' name='question3' value='option1' checked)
    | Using the '>' character
    br
    input(type='radio' name='question3' value='option2')
    | Using the '+' character
    br
    input(type='radio' name='question3' value='option3')
    | Using the '*' character
    br
    input(type='radio' name='question3' value='option4')
    | Using the '#' character
    br
  div
    p
      b 4. How do you create a div with a class name 'navbar' using Emmet?
    input(type='radio' name='question4' value='option1' checked)
    | div.navbar
    br
    input(type='radio' name='question4' value='option2')
    | .navbar
    br
    input(type='radio' name='question4' value='option3')
    | div#navbar
    br
    input(type='radio' name='question4' value='option4')
    | #navbar
    br
  div
    p
      b 5. Can Emmet be used in Pug files?
    input(type='radio' name='question5' value='option1' checked)
    | Yes, but with different syntax than in HTML files.
    br
    input(type='radio' name='question5' value='option2')
    | No, Emmet is only for HTML files.
    br
    input(type='radio' name='question5' value='option3')
    | Yes, with exactly the same abbreviations as in HTML files.
    br
    input(type='radio' name='question5' value='option4')
    | Only if the Pug file is converted to HTML first.
    br
  button.submitPractice(type='submit') Submit

br
//- a(href='/VideoPage6Divided') Next
