doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='Design.css')
  title ניסוי שדה בלמידה דיגיטלית
h1 Questions 3
form(action='/dividedsubmit3' method='POST')
  div
    p
      b
        | 1. What is the purpose of creating a new Pug file named 'index.pug' in the 'lesson-03' folder according to the tutorial?
    input(type='radio' name='question1' value='option1' checked)
    | To generate the expected-output.html file
    br
    input(type='radio' name='question1' value='option2')
    | To learn how to use Pug syntax to create a website
    br
    input(type='radio' name='question1' value='option3')
    | To download the logo, images, and CSS file from the Github repo
    br
    input(type='radio' name='question1' value='option4')
    | To defeat the purpose of the exercise
    br
  div
    p
      b
        | 2. What should the generated index.html file be identical to, according to the tutorial?
    input(type='radio' name='question2' value='option1' checked)
    | The logo, images, and CSS file
    br
    input(type='radio' name='question2' value='option2')
    | The Pug file
    br
    input(type='radio' name='question2' value='option3')
    | The expected-output.html file
    br
    input(type='radio' name='question2' value='option4')
    | The Github repo
    br
  button.submitPractice(type='submit') Submit

br
//- a(href='/DividedSessions') Next
