<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/Design.css">
    <title>ניסוי שדה בלמידה דיגיטלית</title>
</head>
<h1>הרשמה</h1>
<body>
    <form name="myForm" method="post" action="/insertUser" onsubmit="">
      <h2>Create an Account</h2>
      <h4>Tell us about yourself!</h4>
      <label for="UserID">ID</label>
      <input id="UserEmail" type="number" name="UserID" placeholder="Your ID.." required=""><br>
      <label for="UserEmail">Email</label>
      <input id="UserEmail" type="email" name="UserEmail" placeholder="Your email.." required=""><br>
      <label for="UserAge">Age</label>
      <input id="DogsAge" type="number" name="UserAge" placeholder="Your age.." required="" min="0"><br>
      <label for="UserGender">Gender</label>
      <select id="UserGender" name="UserGender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select><br>
      <label for="UserArea">Area</label>
      <select id="UserArea" name="UserArea">
        <option value="Quiet">Quiet</option>
        <option value="Regular">Regular</option>
        <option value="Loud">Loud</option>
      </select><br>
      <label for="internetStability">Level of internet stability</label>
      <select id="internetStability" name="internetStability">
        <option value="Stable">Stable</option>
        <option value="Regular">Regular</option>
        <option value="Weak">Weak</option>
      </select><br>
      <label for="webAttendee">Level of Web attendance</label>
      <select id="webAttendee" name="webAttendee">
        <option value="Absent">Absent</option>
        <option value="Attendee">Attendee</option>
        <option value="Active">Active</option>
      </select><br>
      <input id="GoButton" name="GoButton" type="submit" value="Create">
    </form>
  </body>
</head>