doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='Design.css')
  title ניסוי שדה בלמידה דיגיטלית
h1 PUG ברוכים הבאים לאתר ללמידת
h4 שלם
h4  לצפייה בוידאו
iframe(src='https://www.youtube.com/embed/watch?v=gEoH0_alVKg&list=PLz_6dB4PItBEYHIDnXPUI81pTQ_71eEqS&index=10' width='640' height='360' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
br
a(href='./VideoPage3S3')
   button.enterFromVP Next