<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/Design.css">
    <title>ניסוי שדה בלמידה דיגיטלית</title>
</head>
<h1>PUG ברוכים הבאים לאתר למידת</h1>
<body>
    <h4>כאן תוכלו ללמוד על הנושא ולתרגל אותו בקלות וביעילות</h1>
    <a href="./VideoPage.html">
        <button class="enterFromHP">לכניסה לחצו כאן</button>
    </a>
</body>
</html>