doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='Design.css')
  title ניסוי שדה בלמידה דיגיטלית
h1 PUG ברוכים הבאים לאתר ללמידת
h4
  | כאן תוכלו ללמוד על הנושא ולתרגל אותו בקלות וביעילות
  br 
  br
  a(href='./VideoPage')
    button.enterFromHP לכניסה לחצו כאן