/* @font-face {
    font-family: myFont;
    src: url(./Montserrat-Regular.ttf);
} */
/* header{

} */

body{
    background-image: url(./Images/BackImage.jpg);
    background-size: cover;
    font-family: 'Segoe UI';
    text-align: center;
    padding: 10%;
    margin: 1% 1% 1% 1%;
}
form{
  text-align:left;
  font-size:120%;
  margin-left: 40%;

}


.enterFromHP, .enterFromVP, .submitPractice, .enterToSU, #EnterButton, #CreateButton{
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#CreateButton, #EnterButton{
margin-top: 3%;
margin-left: 15%;
}

.enterFromHP:hover,
.enterFromHP:focus,
.enterFromVP:hover,
.enterFromVP:focus,
.enterToSU:hover,
.enterToSU:focus,
.submitPractice:hover,
.submitPractice:focus,
.GoButton:hover,
.GoButton:focus {
  background-color: #F082AC;
}

@media screen and (max-width: 700px) {
  *{
    text-decoration: none;
  }
  body{
      background-image: none;
      background-color: #fff;
      padding: 16px;
      margin: 0;
  }
  .enterFromHP, #EnterButton{
    margin: 0;
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
    display: block;
    height: 50px;
  }
  #EnterButton{
    margin-left: 0;
  }
  form{
    margin: 0 auto;
    text-align: center;
  }
  form label{
    display: block;
  }
  .submitPractice{
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
    display: block;
    height: 50px;
  }
  #CreateButton, .enterFromVP{
    margin: 0;
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
    display: block;
    height: 50px;
  }
  iframe {
    width: 100%;
    height: 100%px;
  }

  /* Styling input to be of same size and design as the pink button - Start */
  input[type="email"] {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    border-radius: 8px;
    margin-top: 20px;
  }  
  #UserAge, #UserGender, #UserEnglishLevel, #UserArea, #internetStability, #webAttendee{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    border-radius: 8px;
    margin-top: 20px;
  }
  /* Styling input to be of same size and design as the pink button - End */

  a[href="/session1Complete"], a[href="/session2Complete"], a[href="/session3Complete"], a[href="/session1Divided"], a[href="/session2Divided"], a[href="/session3Divided"]  {
    font-size: 20px;
    width: 100%;
    display: block;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    background-color: #EA4C89;
    color: #fff;
  }
}